services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - waste-collection

  backend:
    build: ./backend
    ports:
    - "5000:5000"
    restart: unless-stopped
    depends_on:
      - redis
    expose:
      - "5000"
    networks:
      - waste-collection

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - waste-collection
    restart: unless-stopped
    command: redis-server --appendonly yes

networks:
  waste-collection: